<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <p>This website is developed by Raju. It uses Weather API and Map-box API</p>
        <img class="potrait" src='/img/raju.jpg'>
        
        </div>
        
         {{>footer}}
    </body>

</html>
